# ignore packages

*.zip
*.rar
*.tar.gz
*.tar
*.7z

# ignore files

*.log
*.log.*
*.pid
*.pyc
*.callgraph
*.conf

# ignore dirs

DATA/index/*
DATA/table_*
DATA/projects/*/index/*
DATA/projects/*/table_*

# track dirs

!.DATA
!.doc
!.requires
