#project_view {
    top: 60px;
    width: 250px;
    position: absolute;
    text-align: left;
    margin-left: 10px;
}

#project_select {
    margin-bottom: 5px;
}

#project_tree_view {
    width: 100%;
    text-align: left;
    margin-left: 0px;
    overflow-x: auto;
    overflow-y: scroll;
    margin-bottom: 5px;
}

#project_tree {
    padding-left: 0px;
    padding-right: 0px;
}

#project_opration {
    /*margin-left: 0px;*/
    padding-left: 0px;
}

#tree_view {
    top: 60px;
    left: 250px;
    width: 800px;
    position: absolute;
    margin-left: 0px;
}

#query_form {
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

#search_input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#filter_input_view {
    margin-top: 5px;
}

#call_tree_view {
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: auto;
    overflow-y: scroll;
}

#wait_img {
    opacity: 0.2;
    margin-bottom: 20px;
}

#info_msg {
    margin-bottom: 20px;
}

#form_picker,
#form_reindex,
#form_wait,
#form_delete,
#form_edit,
#form_add,
#form_info,
#form_operation_fail,
#form_project_exist,
#form_invalid_params {
    margin-top: 150px;
    margin-bottom: 0px; 
    padding: 0px
}

#file_picker_modal {
    z-index: 2000;
}

#operation_fail_modal {
    z-index: 2500;
}

#file_picker_modal .well {
    padding: 0px;
    margin-bottom: 0px;
}

#form_info .modal-body span {
    margin-top: -10px;
}

.modal-dialog {
    width: 700px;
}

#file_picker_modal .modal-dialog {
    width: 750px;
}

#add_project_modal .form-group button,
#edit_project_modal .form-group button {
    width: 95px;
}

div#dialog_referrers {
    width: 1000px;
}

.modal-content {
    text-align: center;
}

.control-label {
    margin-top: 10px;
}

#form_referrers {
    margin-top: 150px;
    margin-bottom: 0px; 
    padding: 0px;
}

#form_referrers .modal-content .modal-header {
    text-align: center;
}

#form_referrers .modal-content .modal-body {
    text-align: left;
}

#form_referrers .modal-content .modal-body .well {
    text-align: left;
    overflow-x: auto;
    overflow-y: scroll;
    widows: 800px;
    height: 400px;
}

span.node-name {
    color: #212121;
}

span.node-line-num {
    margin-left: 5px;
    color: #3e94cf;
    font-size: 12px;
}

span.node-children-num {
    margin-left: 5px;
    color: #4aa564;
    font-size: 12px;
}

span.status {
    color: #FF3300;
}

div#disk_partions {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 160px;
}

div#file_list {
    margin-left: 162px;
    min-width: 300px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-fixed {
    table-layout: fixed;
    margin-bottom: 0px;
    width: 100%;
}

tr {
    width: 100%;
    display: inline-table;
}

td {
    padding-top: 1px;
    padding-bottom: 1px;
}

div.outer {
    position: relative;
    height: 16px;
}

div.inner {
    position: absolute;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden; 
    overflow: ellipsis; 
}

.header-fixed > thead {
    display: block;
    /*margin-right: 15px;*/
}

.header-fixed > tbody {
    display: block;
    overflow-y: auto; 
    width: 100%;
}

.breadcrumb {
    margin-bottom: 0px;
    line-height: 20px;
}

tbody {
    height: 300px;
}

th {
    cursor: pointer;
}

th#name,
td#name {
    min-width: 250px;
}

th#type,
td#type {
    min-width: 80px;
}

th#mtime,
td#mtime {
    min-width: 160px;
}

th#size,
td#size {
    min-width: 90px;
}

ol.breadcrumb {
    font-size: 12px;
}
