#project_view {
    top: 60px;
    width: 250px;
    position: absolute;
    text-align: left;
    margin-left: 10px;
}

#project_select {
    margin-bottom: 5px;
}

#project_tree_view {
    width: 100%;
    text-align: left;
    margin-left: 0px;
    overflow-x: auto;
    overflow-y: scroll;
    margin-bottom: 5px;
}

#project_tree {
    padding-left: 0px;
    padding-right: 0px;
}

#project_opration {
    /*margin-left: 0px;*/
    padding-left: 0px;
}

#tree_view {
    top: 60px;
    left: 250px;
    width: 800px;
    position: absolute;
    margin-left: 0px;
}

#query_form {
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

#search_input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#filter_input_view {
    margin-top: 5px;
}

#call_tree_view {
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: auto;
    overflow-y: scroll;
}

#wait_img {
    opacity: 0.2;
    margin-bottom: 20px;
}

#info_msg {
    margin-bottom: 20px;
}

#form_reindex,
#form_wait,
#form_delete,
#form_edit,
#form_add,
#form_info,
#form_operation_fail,
#form_project_exist,
#form_invalid_params {
    margin-top: 150px;
    margin-bottom: 0px; 
    padding: 0px
}

#form_info .modal-body span {
    margin-top: -10px;
}

.modal-dialog {
    width: 700px;
}

div#dialog_referrers {
    width: 1000px;
}

.modal-content {
    text-align: center;
}

.control-label {
    margin-top: 10px;
}

#form_referrers {
    margin-top: 150px;
    margin-bottom: 0px; 
    padding: 0px;
}

#form_referrers .modal-content .modal-header {
    text-align: center;
}

#form_referrers .modal-content .modal-body {
    text-align: left;
}

#form_referrers .modal-content .modal-body .well {
    text-align: left;
    overflow-x: auto;
    overflow-y: scroll;
    widows: 800px;
    height: 400px;
}

span.node-name {
    color: #212121;
}

span.node-line-num {
    margin-left: 5px;
    color: #3e94cf;
    font-size: 12px;
}
