{% extends "../base.html" %}
<!-- 2015-09-19 YangHaitao -->
{% block title %}
{{_("CV - ")}}{{version}}
{% end %}

{% block stylesheet %}
<link href="{{ static_url('css/input.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/call.css') }}" rel="stylesheet" >
<link href="{{ static_url('js/jstree/themes/default/style.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/typeahead.css') }}" rel="stylesheet" />
<style type="text/css">
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 0;
  color: #333;
  background-color: #fff;
}
</style>
{% end %}

{% block body %}
<div id="row_container" class="row">
    <div id="project_view">
        <div id="project_select" class="form-group">
            <select class="form-control">
            </select>
        </div>
        <div id="project_tree_view">
            <div id="project_tree" class="col-lg-12">
            </div>
        </div>
        <div id="project_opration" class="btn-group" role="group" aria-label="...">
            <button id="add_btn" type="button" class="btn btn-default">Add</button>
            <button id="edit_btn" type="button" class="btn btn-default">Edit</button>
            <button id="del_btn" type="button" class="btn btn-default">Delete</button>
            <button id="reindex_btn" type="button" class="btn btn-default">Reindex</button>
        </div>
    </div>
    <div id="tree_view">
        <form id="query_form" class="form-horizontal col-lg-8" method="post">
            <div class="col-lg-10">
                <div class="input-group">
                    <input type="text" class="typeahead form-control" placeholder = "{{_("Type Function Name...")}}" id="search_input" name="query">
                    <span class="input-group-btn">
                        <button id="search_button" class="btn btn-primary" type="button">{{_("Search")}}</button>
                    </span>
                </div>
                <div id="filter_input_view" class="input-group">
                    <span class="input-group-addon">
                        <span>{{_("Called")}}</span>
                        <input id="called" name="called" value="true" type="checkbox">
                    </span>
                    <input type="text" class="form-control" placeholder = "{{_("Type Filter...")}}" id="filter_input" name="filter">
                </div>
            </div>
        </form>
        <div id="call_tree_view" class="col-lg-12">
            <div id="call_tree" class="col-lg-12">
            </div>
        </div>
    </div>
</div>
<div id="add_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addProjectModalLabel" aria-hidden="true">
    <form id="form_add" class="form-horizontal" enctype="multipart/form-data" action="/add/project" method="post">
        <div id="dialog_add" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel" class="modal-title">{{_("Add Project")}}</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="project_name">{{_("Project Name")}}</label>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" name="project_name" autocomplete="off" id="project_name" placeholder="{{_("Project Name")}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="project_path">{{_("Project Path")}}</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" name="project_path" autocomplete="off" id="project_path" placeholder="{{_("Project Path")}}">
                            </div>
                            <button id="add_project_select_project_path_btn" class="btn btn-primary col-xs-2" type="button">{{_("Change")}}</button>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="go_path">{{_("Go Path")}}</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" name="go_path" autocomplete="off" id="go_path" placeholder="{{_("Go Path")}}">
                            </div>
                            <button id="add_project_select_go_path_btn" class="btn btn-primary col-xs-2" type="button">{{_("Add")}}</button>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="main_path">{{_("Main Path")}}</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" name="main_path" autocomplete="off" id="main_path" placeholder="{{_("Main Path")}}">
                            </div>
                            <button id="add_project_select_main_path_btn" class="btn btn-primary col-xs-2" type="button">{{_("Change")}}</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="add_project_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Add")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="edit_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="editProjectModalLabel" aria-hidden="true">
    <form id="form_edit" class="form-horizontal" enctype="multipart/form-data" action="/add/project" method="post">
        <div id="dialog_edit" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel" class="modal-title">{{_("Edit Project")}}</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="project_name">{{_("Project Name")}}</label>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" name="project_name" autocomplete="off" id="project_name" readonly="readonly" placeholder="{{_("Project Name")}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="project_path">{{_("Project Path")}}</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" name="project_path" autocomplete="off" id="project_path" placeholder="{{_("Project Path")}}">
                            </div>
                            <button id="edit_project_select_project_path_btn" class="btn btn-primary col-xs-2" type="button">{{_("Change")}}</button>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="go_path">{{_("Go Path")}}</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" name="go_path" autocomplete="off" id="go_path" placeholder="{{_("Go Path")}}">
                            </div>
                            <button id="edit_project_select_go_path_btn" class="btn btn-primary col-xs-2" type="button">{{_("Add")}}</button>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="main_path">{{_("Main Path")}}</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" name="main_path" autocomplete="off" id="main_path" placeholder="{{_("Main Path")}}">
                            </div>
                            <button id="edit_project_select_main_path_btn" class="btn btn-primary col-xs-2" type="button">{{_("Change")}}</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="edit_project_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Save")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="delete_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
    <form id="form_delete" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_delete" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="deleteModalLabel" class="modal-title">{{_("Warning")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12">{{_("Are you sure you want to delete this project?")}}</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="del_project_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Delete")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="reindex_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="reindexProjectModalLabel" aria-hidden="true">
    <form id="form_reindex" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_reindex" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="reindexModalLabel" class="modal-title">{{_("Warning")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12">{{_("Are you sure you want to reindex this project?")}}</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="reindex_project_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Reindex")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="wait_add_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="waitProjectModalLabel" aria-hidden="true">
    <form id="form_wait" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_wait" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="waitModalLabel" class="modal-title">{{_("Waiting")}}</h3>
                </div>
                <div class="modal-body">
                    <img id="wait_img" src="{{ static_url("img/Pulse.gif") }}">
                    <span class="col-xs-12">{{_("Waiting for the project complete, it may take a few minutes.")}}</span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div id="wait_reindex_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="waitProjectModalLabel" aria-hidden="true">
    <form id="form_wait" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_wait" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="waitModalLabel" class="modal-title">{{_("Waiting")}}</h3>
                </div>
                <div class="modal-body">
                    <img id="wait_img" src="{{ static_url("img/Pulse.gif") }}">
                    <span class="col-xs-12">{{_("Waiting for reindex the project complete, it may take a few minutes.")}}</span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div id="operation_fail_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="operationFailModalLabel" aria-hidden="true">
    <form id="form_operation_fail" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_operation_fail" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="failModalLabel" class="modal-title">{{_("Error")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12">{{_("Operation failed, see log to get the detail information!")}}</span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div id="project_exist_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="projectExistModalLabel" aria-hidden="true">
    <form id="form_project_exist" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_project_exist" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="existModalLabel" class="modal-title">{{_("Warning")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12">{{_("The project name already exist, please try another one!")}}</span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div id="invalid_params_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="invalidParamsModalLabel" aria-hidden="true">
    <form id="form_invalid_params" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_invalid_params" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="paramsModalLabel" class="modal-title">{{_("Error")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12">{{_("The project's configuration error, please validate project name, project path, go path and main path!")}}</span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div id="file_picker_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="filePickerModalLabel" aria-hidden="true">
    <form id="form_picker" class="form-horizontal" enctype="multipart/form-data">
        <div id="dialog_picker" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel" class="modal-title">{{_("Select a File/Directory")}}</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <div id="row_container" class="row-fluid">
                            <ol id="path_bar" class="breadcrumb">
                            </ol>
                            <div id="disk_container" class="row-fluid">
                                <div id="disk_partions" class="col-xs-2">
                                    <div id="partitions_div" class="list-group">
                                    </div>
                                </div>
                                <div id="file_list" class="fluid">
                                    <table class="table table-bordered table-hover header-fixed">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody id="table_body">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="select_path_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Select")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/jstree/jstree.js') }}"></script>
<script src="{{ static_url('js/js-base64/base64.js') }}"></script>
<script src="{{ static_url('js/typeahead.bundle.js') }}"></script>
<script src="{{ static_url('js/handlebars-v1.3.0.js') }}"></script>
<script type="text/javascript">
var $table_header = $(".header-fixed > thead");
var $table_header_tr = $(".header-fixed > thead > tr");
var $table_body = $(".header-fixed > tbody");
var $path_bar = $("#path_bar");
var $partitions_div = $("#partitions_div");
var scrollBarSize = getBrowserScrollSize();

var dir_path = [];
var current_file = "";
var home_path = [];
var home_path_string = "";
var disk_partitions = [];
var select_path_type = "";

var current_project = "";
var project_name = "";
var project_path = "";
var main_path = "";
var go_path = "";
var $project_select = $('#project_select select');

var $add_btn = $('#add_btn');
var $edit_btn = $('#edit_btn');
var $del_btn = $('#del_btn');
var $reindex_btn = $('#reindex_btn');

var $add_project_btn = $('#add_project_btn');
var $edit_project_btn = $('#edit_project_btn');
var $del_project_btn = $('#del_project_btn');
var $reindex_project_btn = $('#reindex_project_btn');
var $search_btn = $('#search_button');
var $select_path_btn = $('#select_path_btn');

var $add_project_select_project_path_btn = $('#add_project_select_project_path_btn');
var $add_project_select_go_path_btn = $('#add_project_select_go_path_btn');
var $add_project_select_main_path_btn = $('#add_project_select_main_path_btn');
var $edit_project_select_project_path_btn = $('#edit_project_select_project_path_btn');
var $edit_project_select_go_path_btn = $('#edit_project_select_go_path_btn');
var $edit_project_select_main_path_btn = $('#edit_project_select_main_path_btn');

$project_select.change(changeProject);
$add_btn.bind("click", showAddProject);
$add_project_btn.bind("click", addProject);
$edit_btn.bind("click", showEditProject);
$edit_project_btn.bind("click", editProject);
$del_btn.bind("click", showDelProject);
$del_project_btn.bind("click", delProject);
$reindex_btn.bind("click", showReindexProject);
$reindex_project_btn.bind("click", reindexProject);
$search_btn.bind("click", search);
$select_path_btn.bind("click", updatePath);

$add_project_select_project_path_btn.bind("click", selectProjectPath);
$add_project_select_go_path_btn.bind("click", selectGoPath);
$add_project_select_main_path_btn.bind("click", selectMainPath);
$edit_project_select_project_path_btn.bind("click", editProjectPath);
$edit_project_select_go_path_btn.bind("click", editGoPath);
$edit_project_select_main_path_btn.bind("click", editMainPath);

function selectProjectPath() {
    select_path_type = "select_project_path";
    changePath();
}

function selectGoPath() {
    select_path_type = "select_go_path";
    changePath();
}

function selectMainPath() {
    select_path_type = "select_main_path";
    changePath();
}

function editProjectPath() {
    select_path_type = "edit_project_path";
    changePath();
}

function editGoPath() {
    select_path_type = "edit_go_path";
    changePath();
}

function editMainPath() {
    select_path_type = "edit_main_path";
    changePath();
}

function updatePath() {
    var dir = dir_path.join("/");
    if (dir.startsWith("/") && dir.length > 1) {
        dir = dir.substring(1, dir.length);
    }
    var current_path = dir + "/" + current_file;
    if (select_path_type == "select_project_path") {
        $("#add_project_modal input#project_path").val(current_path);
    } else if (select_path_type == "select_go_path") {
        var old_path = $("#add_project_modal input#go_path").val();
        if (old_path != "") {
            current_path = old_path + ":" + current_path
        }
        $("#add_project_modal input#go_path").val(current_path);
    } else if (select_path_type == "select_main_path") {
        $("#add_project_modal input#main_path").val(current_path);
    } else if (select_path_type == "edit_project_path") {
        $("#edit_project_modal input#project_path").val(current_path);
    } else if (select_path_type == "edit_go_path") {
        var old_path = $("#edit_project_modal input#go_path").val();
        if (old_path != "") {
            current_path = old_path + ":" + current_path
        }
        $("#edit_project_modal input#go_path").val(current_path);
    } else if (select_path_type == "edit_main_path") {
        $("#edit_project_modal input#main_path").val(current_path);
    }
}

function changePath(event, dir = "") {
    var ajax_url = "/listdir";
    if (dir != "") {
        ajax_url += "?p=" + encodeURIComponent(dir);
    }
    $.ajax({
        type: "get",
        dataType: "json",
        async: false,
        url: ajax_url,
        success: function(data, textStatus) {
            if(textStatus == "success" && !data.exception) {
                $table_header_tr.empty();
                $table_body.empty();
                $path_bar.empty();
                $partitions_div.empty();
                var columns = ["name", "type", "size"]; // "mtime"
                columns.forEach(function (value, index, arrays) {
                    $table_header_tr.append(
                        '<th id="' + value + '"><div class="outer"><div class="inner">&nbsp;' + value + '&nbsp;&nbsp;</div></div></th>'
                    );
                });
                if (data.dirs) {
                    data.dirs.forEach(function (value, index, arrays) {
                        var tr = '<tr id="table_item">';
                        for (var i=0; i<columns.length; i++) {
                            var col = columns[i];
                            if (col == 'name') {
                                tr += '<td id="' + col + '">' +
                                            '<div class="outer">' +
                                                '<div class="inner">&nbsp;' +
                                                    '<span>' +
                                                        '<input class="dir_item" name="dir" id="dir_' + index + '" type="checkbox">' +
                                                    '</span>&nbsp;' +
                                                    '<span id="status_dir_' + value.sha1 + '" class="status">' +
                                                    '</span>' +
                                                    '<span id="dir_' + index + '" class="dir_span glyphicon glyphicon-folder-close">' +
                                                    '</span>' +
                                                    '<a class="dir_item" id="' + value.name + '">&nbsp;' + value.name +
                                                    '</a>' +
                                                '</div>' +
                                            '</div>' +
                                        '</td>';
                            } else if (col == 'type') {
                                tr += '<td id="' + col + '"><div class="outer"><div class="inner">&nbsp;' + value.type + '</div></div></td>';
                            } else if (col == 'size') {
                                tr += '<td id="' + col + '"><div class="outer"><div class="inner">&nbsp;' + value.size + '</div></div></td>';
                            } else if (col == 'mtime') {
                                tr += '<td id="' + col + '"><div class="outer"><div class="inner">&nbsp;' + value.mtime + '</div></div></td>';
                            }
                        }
                        tr += '</tr>';
                        $table_body.append(tr);
                    });
                }
                
                if (data.files) {
                    data.files.forEach(function (value, index, arrays) {
                        var tr = '<tr id="table_item">';
                        for (var i=0; i<columns.length; i++) {
                            var col = columns[i];
                            if (col == 'name') {
                                tr += '<td id="' + col + '">' +
                                            '<div class="outer">' +
                                                '<div class="inner">&nbsp;' +
                                                    '<span>' +
                                                        '<input class="file_item" name="file" id="file_' + index + '" type="checkbox">' +
                                                    '</span>&nbsp;' +
                                                    '<span id="status_file_' + value.sha1 + '" class="status">' +
                                                    '</span>' +
                                                    '<span id="file_' + index + '" class="file_span glyphicon glyphicon-file">' +
                                                    '</span>' +
                                                    '<a class="file_item" id="' + value.name + '">&nbsp;' + value.name +
                                                    '</a>' +
                                                '</div>' +
                                            '</div>' +
                                        '</td>';
                            } else if (col == 'type') {
                                tr += '<td id="' + col + '"><div class="outer"><div class="inner">&nbsp;' + value.type + '</div></div></td>';
                            } else if (col == 'size') {
                                tr += '<td id="' + col + '"><div class="outer"><div class="inner">&nbsp;' + value.size + '</div></div></td>';
                            } else if (col == 'mtime') {
                                tr += '<td id="' + col + '"><div class="outer"><div class="inner">&nbsp;' + value.mtime + '</div></div></td>';
                            }
                        }
                        tr += '</tr>';
                        $table_body.append(tr);
                    });
                }
                
                if (data.dir_path) {
                    dir_path = data.dir_path;
                    data.dir_path.forEach(function (value, index, arrays) {
                        var string = "";
                        if (value == "/") {
                            value = "ROOT";
                        }
                        if (index == arrays.length - 1) {
                            string = '<li class="active">' + value + '</li>';
                        }
                        else {
                            string = '<li><a id="dir_' + index + '" class="dir_name">' + value + '</a></li>';
                        }
                        $path_bar.append(string);
                    });
                }
                
                if (data.disk_partitions) {
                    data.disk_partitions.forEach(function (value, index, arrays) {
                        $partitions_div.append(
                            '<a id="partition_' + index + '" class="list-group-item partition_a">' +
                            '<span class="glyphicon glyphicon-hdd"></span>' +
                            '<span id="partition_name">&nbsp;' + value.device + '</span>' +
                            '</a>'
                        )
                    });

                    disk_partitions = data.disk_partitions;
                }
                
                if (data.current_partition) {
                    $("a#partition_" + data.current_partition).addClass("active");
                }
                
                if (data.home_path) {
                    home_path = data.home_path;
                }
                
                if (data.home_path_string) {
                    home_path_string = data.home_path_string;
                }
                
                $("a.dir_name").bind('click', changeDir);
                $("a.dir_item").bind('dblclick', openDir);
                $("a.partition_a").bind('click', changePartition);
                $("tr#table_item").bind('click', selectOne);
                $("input[type=checkbox][name=dir]").bind('click', inputSelect);
                $("input[type=checkbox][name=file]").bind('click', inputSelect);
                $table_body.scrollTop(0);
                setTimeout(function() {
                    var tbody = document.getElementById("table_body");
                    if (hasVerticalScrollBar(tbody)) {
                        $table_header.css({"margin-right": scrollBarSize.width});
                    } else {
                        $table_header.css({"margin-right": 0});
                    }
                }, 250);
            }
            $('#file_picker_modal').modal('show');

            $('#wait_reindex_project_modal').modal('hide');

            if (data.exception) {
                $('#operation_fail_modal').modal('show');
            }
        }
    });
}

function changeDir() {
    var index = Number($(this).attr("id").split("_")[1]) + 1;
    dir_path = dir_path.slice(0, index);
    var dir = dir_path.join("/");
    if (dir.startsWith("/") && dir.length > 1) {
        dir = dir.substring(1, dir.length);
    }
    changePath(null, dir);
}

function openDir(event) {
    var dir_name = $(this).attr("id");
    dir_path.push(dir_name);
    var dir = dir_path.join("/");
    if (dir.startsWith("/") && dir.length > 1) {
        dir = dir.substring(1, dir.length);
    }
    changePath(null, dir);
}

function changePartition() {
    var partition_num = Number($(this).attr("id").split("_")[1]);
    var dir_path = disk_partitions[partition_num].mountpoint;
    var dir = dir_path.join("/");
    if (dir.startsWith("/") && dir.length > 1) {
        dir = dir.substring(1, dir.length);
    }
    changePath(null, dir);
}

function selectOne(event) {
    if ($(this).find("input[type=checkbox]:checked").length) {
        $(this).find("input[type=checkbox]").prop('checked', false);
        $(this).removeClass("success");
        current_file = "";
    } else {
        unselectAll();
        $(this).find("input[type=checkbox]").prop('checked', true);
        $(this).addClass("success");
        current_file = $(this).find("td a").attr("id");
    }
    event.stopPropagation()
}

function inputSelect(event) {
    if (this.checked) {
        unselectAll();
        $(this).prop('checked', true);
        $(this).parent("span").parent("div").parent("div").parent("td").parent("tr").addClass("success");
        current_file = $(this).parent("span").parent("div").find("a").attr("id");
    } else {
        $(this).parent("span").parent("div").parent("div").parent("td").parent("tr").removeClass("success");
        current_file = "";
    }
    event.stopPropagation()
}

function unselectAll() {
    $("input[type=checkbox][name=dir]").prop('checked', false);
    $("input[type=checkbox][name=dir]").parent("span").parent("div").parent("div").parent("td").parent("tr").removeClass("success");
    $("input[type=checkbox][name=file]").prop('checked', false);
    $("input[type=checkbox][name=file]").parent("span").parent("div").parent("div").parent("td").parent("tr").removeClass("success");
}

function get_leaf(q) {
    var result = {"nodes": [], "tree": [], "flag": false};
    var ajax_url = "/leaf";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"query": JSON.stringify(q), 
               "called": $("input[type=checkbox][name=called]").prop("checked"), 
               "filter": $("#filter_input").val(),
               "project_name": $('#project_select select').val()},
        success: function(data, textStatus){
            if(textStatus == "success"){
                if(typeof data.nodes == "undefined")
                    result.flag = null;
                else
                {
                    result.nodes = data.nodes;
                    result.tree = data.tree;
                    result.flag = true;
                }
            }
            else
            {
                result.flag = false;
            }
        }
    });
    return result;
};

function get_project_leaf(q) {
    var result = {"nodes": [], "tree": [], "flag": false};
    var ajax_url = "/project/leaf";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"query": JSON.stringify(q),
               "project_name": $('#project_select select').val()},
        success: function(data, textStatus){
            if(textStatus == "success"){
                if(typeof data.nodes == "undefined")
                    result.flag = null;
                else
                {
                    result.nodes = data.nodes;
                    result.tree = data.tree;
                    result.flag = true;
                }
            }
            else
            {
                result.flag = false;
            }
        }
    });
    return result;
};

function include(arr, obj) {
    obj += "</span>";
    for (i = 0; i < arr.length; i++) {
        if (arr[i].indexOf(obj) != -1) {
            return i;
        }
    }
    return -1;
}

function includeStr(str, flag) {
    return str.indexOf(flag);
}

var project_view_width = 255;
var project_view_hight_delta = 145;

window.onload = window.onresize = function(){
    $(document).ready(function(){
        var window_height = $(window).height();
        var window_width = $(window).width();
        $("#project_tree_view").height(window_height - project_view_hight_delta);
        $("#call_tree_view").height(window_height - project_view_hight_delta);
        $("#tree_view").width(window_width - project_view_width);
    });
}

$(document).ready(function(){
    var result = "{% module JsString(result) %}";
    var data = JSON.parse(result);

    if (data.query) {
        $("#search_input").val(data.query);
    }

    if (data.called) {
        $("input[type=checkbox][name=called]").prop('checked', true);
    }

    if (data.filter) {
        $("#filter_input").val(data.filter);
    }

    if (data.projects) {
        data.projects.forEach(function (value, index, array_notes) {
            $('#project_select select').append(
                '<option value="' + value.project_name + '"">' + value.project_name + '</option>'
            );
        });
    }

    if (data.project) {
        $('#project_select select').val(data.project);
        current_project = data.project;
        project_name = data.project;
    }

    if (data.project_path) {
        project_path = data.project_path;
    }

    if (data.main_path) {
        main_path = data.main_path;
    }

    if (data.go_path) {
        go_path = data.go_path;
    }

    if (data.nodes) {
        data.nodes.forEach(function (value, index, array_notes) {
            data.nodes[index].text = '<span class="node-name">' + value.text + '</span>';
        });
    }

    var r_datas = new Bloodhound({
        datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.string); },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,
        remote: {
            url: '/search',
            replace: function (url, query) {
                url += '?q=' + encodeURIComponent($('#search_input').val());
                url += '&size=10&p=' + encodeURIComponent($('#project_select select').val());
                return url;
            },
            filter: function(list) {
                return $.map(list, function(complete_string) { return { string: complete_string }; });
            }
        }
    });
 
    r_datas.initialize();
 
    $('.typeahead').typeahead({
        highlight: true,
        minLength: 2
    }, 
    {
        name: 'complete_string',
        displayKey: 'string',
        source: r_datas.ttAdapter()
    });

    $('#project_tree').jstree({ 
        'core' : {
            'data' : data.nodes,
            'check_callback': true
        },
        'plugins' : [ "state", "unique", "types", "contextmenu" ],
        'types' : {
            'directory' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/directory.png') }}"
            },
            'file' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/file.png') }}"
            }
        },
        'contextmenu': {
            "items": customMenu
        }
    });

    $('#project_tree').on('before_open.jstree', function(e, data) {
        r = get_project_leaf(data.node.children);
        if (r.flag) {
            r.nodes.forEach(function (value, index, array_notes) {
                createProjectNode(value.parent, value.id, value.text, "last", value.type);
            });
        }
    });

    $('#call_tree').jstree({ 
        'core' : {
            'data' : [],
            'check_callback': true
        },
        'plugins' : [ "types", "state", "unique", "contextmenu" ],
        'types' : {
            'tree' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/circle_green.png') }}"
            },
            'leaf' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/circle_blue.png') }}"
            },
            'loop' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/circle_red.png') }}"
            }
        },
        'contextmenu': {
            "items": function(node) {
                var tree = $('#call_tree').jstree(true);
                return {
                    "Go To Context": {
                        "separator_before": false,
                        "separator_after": false,
                        "icon": false,
                        "label": "Go To Context",
                        "action": function (obj) {
                            window.open('/view?q=' + node.id + '&d=false&called=' + $("input[type=checkbox][name=called]").prop("checked") + '&p=' + $('#project_select select').val() , '_blank');
                        }
                    },
                    "Go To Definition": {
                        "separator_before": false,
                        "separator_after": false,
                        "icon": false,
                        "label": "Go To Definition",
                        "action": function (obj) {
                            window.open('/view?q=' + node.id + '&d=true&called=' + $("input[type=checkbox][name=called]").prop("checked") + '&p=' + $('#project_select select').val(), '_blank');
                        }
                    }
                };
            }
        }
    });

    $('#call_tree').on('before_open.jstree', function(e, data) {
        r = get_leaf(data.node.children);
        if (r.flag) {
            r.tree.forEach(function (value, index, array_nodes) {
                $('#call_tree').jstree(true).set_type(value.id, "tree");
                if (value.size && value.size >= 0) {
                    text = $('#call_tree').jstree(true).get_text(value.id);
                    if (includeStr(text, "node-children-num") == -1) {
                        text = text + '<span class="node-children-num">[' + value.size + ']</span>';
                        $('#call_tree').jstree(true).rename_node(value.id, text);
                    }
                }
            });
            r.nodes.forEach(function (value, index, array_nodes) {
                var parent = $('#call_tree').jstree(true).get_node(value.parent)
                var path = $('#call_tree').jstree(true).get_path(parent);
                var path_ids = $('#call_tree').jstree(true).get_path(parent, null, true);
                index = include(path, value.text);
                if (index != -1) {
                    $('#call_tree').jstree(true).set_type(path_ids[index], "loop");
                    $('#call_tree').jstree(true).set_type(value.id, "loop");
                    if (index < path.length) {
                        $('#call_tree').jstree(true).set_type(value.parent, "loop");
                    }
                } else {
                    if (include(parent.children, value.id) == -1) {
                        createNode(value.parent, value.id, value.text, value.num, value.size, "last", value.type);
                    }
                }
            });
        }
    });

    var window_height = $(window).height();
    var window_width = $(window).width();
    $("#project_tree_view").height(window_height - project_view_hight_delta);
    $("#call_tree_view").height(window_height - project_view_hight_delta);
    $("#tree_view").width(window_width - project_view_width);
});

function customMenu(node) {
    var items = {
        'view_the_file' : {
            "separator_before": false,
            "separator_after": false,
            "icon": false,
            "label" : "View The File",
            "action" : function (obj) {
                window.open('/project/view?q=' + node.id + '&p=' + $('#project_select select').val(), '_blank');
            }
        },
    }

    if (node.type === 'directory') {
        delete items.view_the_file;
    }

    return items;
}

// Helper method createNode(parent, id, text, position).
// Dynamically adds nodes to the jsTree. Position can be 'first' or 'last'.
function createNode(parent_node, new_node_id, new_node_text, new_node_num, new_node_size, position, type) {
    new_node_text = '<span class="node-name">' + new_node_text + '</span>';
    if (new_node_num && new_node_num >= 0) {
        new_node_text = new_node_text + '<span class="node-line-num">:' + new_node_num + '</span>';
    }
    if (new_node_size && new_node_size >= 0) {
        new_node_text = new_node_text + '<span class="node-children-num">[' + new_node_size + ']</span>';
    }
    $('#call_tree').jstree(true).create_node(parent_node, { "text":new_node_text, "id":new_node_id, "type": type }, position, null, false);
}

function createProjectNode(parent_node, new_node_id, new_node_text, position, type) {
    new_node_text = '<span class="node-name">' + new_node_text + '</span>';
    $('#project_tree').jstree(true).create_node(parent_node, { "text":new_node_text, "id":new_node_id, "type": type }, position, null, false);
}

function changeProject() {
    var selected_project = $('#project_select select').val();
    var ajax_url = "/select/project";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"project_name": selected_project},
        success: function(data, textStatus) {
            if(textStatus == "success") {
                $('#project_tree').jstree().delete_node($('#project_tree').jstree().get_json());
                if (data.nodes) {
                    data.nodes.forEach(function (value, index, array_notes) {
                        createProjectNode(value.parent, value.id, value.text, "last", value.type);
                    });
                }

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                    project_name = data.project;
                }

                if (data.project_path) {
                    project_path = data.project_path;
                }

                if (data.main_path) {
                    main_path = data.main_path;
                }

                if (data.go_path) {
                    go_path = data.go_path;
                }
            }
        }
    });
    $('#project_select select').blur();
}

function showAddProject() {
    $("#add_project_modal input#project_name").val("");
    $("#add_project_modal input#project_path").val("");
    $("#add_project_modal input#go_path").val("");
    $("#add_project_modal input#main_path").val("");
    $('#add_project_modal').modal('show');
}

function addProject() {
    $('#wait_add_project_modal').modal('show');
    var ajax_url = "/add/project";
    $.ajax({
        type: "post",
        async: true,
        url: ajax_url,
        data: {"project_name": $("#add_project_modal input#project_name").val(),
               "project_path": $("#add_project_modal input#project_path").val(),
               "go_path": $("#add_project_modal input#go_path").val(),
               "main_path": $("#add_project_modal input#main_path").val()},
        success: function(data, textStatus) {
            if(textStatus == "success" && !data.exception) {
                $('#project_tree').jstree().delete_node($('#project_tree').jstree().get_json());
                if (data.nodes) {
                    data.nodes.forEach(function (value, index, array_notes) {
                        createProjectNode(value.parent, value.id, value.text, "last", value.type);
                    });
                }
                
                if (data.projects) {
                    $('#project_select select').empty();
                    data.projects.forEach(function (value, index, array_notes) {
                        $('#project_select select').append(
                            '<option value="' + value.project_name + '"">' + value.project_name + '</option>'
                        );
                    });
                }

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                    project_name = data.project;
                }

                if (data.project_path) {
                    project_path = data.project_path;
                }

                if (data.main_path) {
                    main_path = data.main_path;
                }

                if (data.go_path) {
                    go_path = data.go_path;
                }
            }
            $('#wait_add_project_modal').modal('hide');

            if (data.exception && data.exception == "ExistProjectError") {
                $('#project_exist_modal').modal('show');
            } else if (data.exception && data.exception == "InvalidParamsError") {
                $('#invalid_params_modal').modal('show');
            } else if (data.exception) {
                $('#operation_fail_modal').modal('show');
            }
        }
    });
}

function showEditProject() {
    $("#edit_project_modal input#project_name").val(project_name);
    $("#edit_project_modal input#project_path").val(project_path);
    $("#edit_project_modal input#go_path").val(go_path);
    $("#edit_project_modal input#main_path").val(main_path);
    $('#edit_project_modal').modal('show');
}

function editProject() {
    $('#wait_reindex_project_modal').modal('show');
    var ajax_url = "/edit/project";
    $.ajax({
        type: "post",
        async: true,
        url: ajax_url,
        data: {"project_name": $("#edit_project_modal input#project_name").val(),
               "project_path": $("#edit_project_modal input#project_path").val(),
               "go_path": $("#edit_project_modal input#go_path").val(),
               "main_path": $("#edit_project_modal input#main_path").val()},
        success: function(data, textStatus) {
            if(textStatus == "success" && !data.exception) {
                $('#project_tree').jstree().delete_node($('#project_tree').jstree().get_json());
                if (data.nodes) {
                    data.nodes.forEach(function (value, index, array_notes) {
                        createProjectNode(value.parent, value.id, value.text, "last", value.type);
                    });
                }

                if (data.projects) {
                    $('#project_select select').empty();
                    data.projects.forEach(function (value, index, array_notes) {
                        $('#project_select select').append(
                            '<option value="' + value.project_name + '"">' + value.project_name + '</option>'
                        );
                    });
                }

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                    project_name = data.project;
                }

                if (data.project_path) {
                    project_path = data.project_path;
                }

                if (data.main_path) {
                    main_path = data.main_path;
                }

                if (data.go_path) {
                    go_path = data.go_path;
                }
            }
            $('#wait_reindex_project_modal').modal('hide');

            if (data.exception && data.exception == "InvalidParamsError") {
                $('#invalid_params_modal').modal('show');
            } else if (data.exception) {
                $('#operation_fail_modal').modal('show');
            }
        }
    });
}

function showDelProject() {
    $('#delete_project_modal').modal('show');
}

function delProject() {
    var selected_project = $('#project_select select').val();
    var ajax_url = "/delete/project";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"project_name": selected_project},
        success: function(data, textStatus) {
            if(textStatus == "success" && !data.exception) {
                $('#project_tree').jstree().delete_node($('#project_tree').jstree().get_json());
                if (data.nodes) {
                    data.nodes.forEach(function (value, index, array_notes) {
                        createProjectNode(value.parent, value.id, value.text, "last", value.type);
                    });
                }

                if (data.projects) {
                    $('#project_select select').empty();
                    data.projects.forEach(function (value, index, array_notes) {
                        $('#project_select select').append(
                            '<option value="' + value.project_name + '"">' + value.project_name + '</option>'
                        );
                    });
                }

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                    project_name = data.project;
                } else {
                    $('#project_select select').val("");
                    current_project = "";
                    project_name = "";
                }

                if (data.project_path) {
                    project_path = data.project_path;
                }

                if (data.main_path) {
                    main_path = data.main_path;
                }

                if (data.go_path) {
                    go_path = data.go_path;
                }
            }

            if (data.exception) {
                $('#operation_fail_modal').modal('show');
            }
        }
    });
}

function showReindexProject() {
    $('#reindex_project_modal').modal('show');
}

function reindexProject() {
    $('#wait_reindex_project_modal').modal('show');
    var ajax_url = "/reindex/project";
    $.ajax({
        type: "post",
        async: true,
        url: ajax_url,
        data: {"project_name": $('#project_select select').val()},
        success: function(data, textStatus) {
            if(textStatus == "success" && !data.exception) {
                $('#call_tree').jstree().delete_node($('#call_tree').jstree().get_json());

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                }
            }
            $('#wait_reindex_project_modal').modal('hide');

            if (data.exception) {
                $('#operation_fail_modal').modal('show');
            }
        }
    });
}

function search() {
    var ajax_url = "/";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"query": $("input#search_input").val(), 
               "called": $("input[type=checkbox][name=called]").prop("checked"), 
               "filter": $("input#filter_input").val(),
               "project_name": $('#project_select select').val()},
        success: function(data, textStatus) {
            if (textStatus == "success") {
                if (data.tree && data.query) {
                    $('#call_tree').jstree().delete_node($('#call_tree').jstree().get_json());
                    data.tree.forEach(function (value, index, array_notes) {
                        createNode(value.parent, value.id, value.text, value.num, value.size, "last", value.type);
                        if (value.size && value.size >= 0) {
                            text = $('#call_tree').jstree(true).get_text(value.id);
                            if (includeStr(text, "node-children-num") == -1) {
                                text = text + '<span class="node-children-num">[' + value.size + ']</span>';
                                $('#call_tree').jstree(true).rename_node(value.id, text);
                            }
                        }
                    });
                    data.nodes.forEach(function (value, index, array_notes) {
                        var path = $('#call_tree').jstree(true).get_path($('#call_tree').jstree(true).get_node(value.parent));
                        var path_ids = $('#call_tree').jstree(true).get_path($('#call_tree').jstree(true).get_node(value.parent), null, true);
                        index = include(path, value.text);
                        if (index != -1) {
                            $('#call_tree').jstree(true).set_type(path_ids[index], "loop");
                            $('#call_tree').jstree(true).set_type(value.id, "loop");
                        } else {
                            createNode(value.parent, value.id, value.text, value.num, value.size, "last", value.type);
                        }
                    });
                    if (data.query) {
                        $("#search_input").val(data.query);
                    }

                    if (data.called) {
                        $("input[type=checkbox][name=called]").prop('checked', true);
                    }

                    if (data.filter) {
                        $("#filter_input").val(data.filter);
                    }
                }
            }
        }
    });
}

function hasVerticalScrollBar(el) {
    var result = el.scrollHeight > el.clientHeight;
    return result;
}

function getBrowserScrollSize() {
    var css = {
        "border":  "none",
        "height":  "200px",
        "margin":  "0",
        "padding": "0",
        "width":   "200px"
    };

    var inner = $("<div>").css($.extend({}, css));
    var outer = $("<div>").css($.extend({
        "left":       "-1000px",
        "overflow":   "scroll",
        "position":   "absolute",
        "top":        "-1000px"
    }, css)).append(inner).appendTo("body")
    .scrollLeft(1000)
    .scrollTop(1000);

    var scrollSize = {
        "height": (outer.offset().top - inner.offset().top) || 0,
        "width": (outer.offset().left - inner.offset().left) || 0
    };

    outer.remove();
    return scrollSize;
}
</script>
{% end %}