{% extends "../base.html" %}
<!-- 2015-09-19 YangHaitao -->
{% block title %}
{{_("CV - ")}}{{version}}
{% end %}

{% block stylesheet %}
<link href="{{ static_url('css/input.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/call.css') }}" rel="stylesheet" >
<link href="{{ static_url('js/jstree/themes/default/style.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/typeahead.css') }}" rel="stylesheet" />
{% end %}

{% block body %}
<div id="row_container" class="row">
    <div id="project_view">
        <div id="project_select" class="form-group">
            <select class="form-control">
            </select>
        </div>
        <div id="project_tree_view">
            <div id="project_tree" class="col-lg-12">
            </div>
        </div>
        <div id="project_opration" class="btn-group" role="group" aria-label="...">
            <button id="add_btn" type="button" class="btn btn-default">Add</button>
            <button id="del_btn" type="button" class="btn btn-default">Delete</button>
            <button id="reindex_btn" type="button" class="btn btn-default">Reindex</button>
        </div>
    </div>
    <div id="tree_view">
        <form id="query_form" class="form-horizontal col-lg-8" method="post">
            <div class="col-lg-10">
                <div class="input-group">
                    <input type="text" class="typeahead form-control" placeholder = "{{_("Type Function Name...")}}" id="search_input" name="query">
                    <span class="input-group-btn">
                        <button id="search_button" class="btn btn-primary" type="button">{{_("Search")}}</button>
                    </span>
                </div>
                <div id="filter_input_view" class="input-group">
                    <span class="input-group-addon">
                        <span>{{_("Called")}}</span>
                        <input id="called" name="called" value="true" type="checkbox">
                    </span>
                    <input type="text" class="form-control" placeholder = "{{_("Type Filter...")}}" id="filter_input" name="filter">
                </div>
            </div>
        </form>
        <div id="call_tree_view" class="col-lg-12">
            <div id="call_tree" class="col-lg-12">
            </div>
        </div>
    </div>
</div>
<div id="add_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addProjectModalLabel" aria-hidden="true">
    <form id="form_add" class="form-horizontal" enctype="multipart/form-data" action="/add/project" method="post">
        <div id="dialog_add" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel" class="modal-title">{{_("Add Project")}}</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="project_name">{{_("Project Name")}}</label>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" name="project_name" autocomplete="off" id="project_name" placeholder="{{_("Project Name")}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="project_path">{{_("Project Path")}}</label>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" name="project_path" autocomplete="off" id="project_path" placeholder="{{_("Project Path")}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="go_path">{{_("Go Path")}}</label>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" name="go_path" autocomplete="off" id="go_path" placeholder="{{_("Go Path")}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="main_path">{{_("Main Path")}}</label>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" name="main_path" autocomplete="off" id="main_path" placeholder="{{_("Main Path")}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="add_project_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Add")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="delete_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
    <form id="form_delete" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_delete" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="deleteModalLabel" class="modal-title">{{_("Warning")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12">{{_("Are you sure you want to delete this project?")}}</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="del_project_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Delete")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="reindex_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="reindexProjectModalLabel" aria-hidden="true">
    <form id="form_reindex" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_reindex" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="reindexModalLabel" class="modal-title">{{_("Warning")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12">{{_("Are you sure you want to reindex this project?")}}</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{_("Cancel")}}</button>
                    <button id="reindex_project_btn" class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">{{_("Reindex")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="wait_add_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="waitProjectModalLabel" aria-hidden="true">
    <form id="form_wait" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_wait" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="waitModalLabel" class="modal-title">{{_("Waiting")}}</h3>
                </div>
                <div class="modal-body">
                    <img id="wait_img" src="{{ static_url("img/Pulse.gif") }}">
                    <span class="col-xs-12">{{_("Waiting for the project complete, it may take a few minutes.")}}</span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div id="wait_reindex_project_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="waitProjectModalLabel" aria-hidden="true">
    <form id="form_wait" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_wait" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="waitModalLabel" class="modal-title">{{_("Waiting")}}</h3>
                </div>
                <div class="modal-body">
                    <img id="wait_img" src="{{ static_url("img/Pulse.gif") }}">
                    <span class="col-xs-12">{{_("Waiting for reindex the project complete, it may take a few minutes.")}}</span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/jstree/jstree.js') }}"></script>
<script src="{{ static_url('js/typeahead.bundle.js') }}"></script>
<script src="{{ static_url('js/handlebars-v1.3.0.js') }}"></script>
<script type="text/javascript">
var current_project = "";
var $project_select = $('#project_select select');

var $add_btn = $('#add_btn');
var $del_btn = $('#del_btn');
var $reindex_btn = $('#reindex_btn');

var $add_project_btn = $('#add_project_btn');
var $del_project_btn = $('#del_project_btn');
var $reindex_project_btn = $('#reindex_project_btn');
var $search_btn = $('#search_button');

$project_select.change(changeProject);
$add_btn.bind("click", showAddProject);
$add_project_btn.bind("click", addProject);
$del_btn.bind("click", showDelProject);
$del_project_btn.bind("click", delProject);
$reindex_btn.bind("click", showReindexProject);
$reindex_project_btn.bind("click", reindexProject);
$search_btn.bind("click", search);

function get_leaf(q) {
    var result = {"nodes": [], "tree": [], "flag": false};
    var ajax_url = "/leaf";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"query": JSON.stringify(q), 
               "called": $("input[type=checkbox][name=called]").prop("checked"), 
               "filter": $("#filter_input").val(),
               "project_name": $('#project_select select').val()},
        success: function(data, textStatus){
            if(textStatus == "success"){
                if(typeof data.nodes == "undefined")
                    result.flag = null;
                else
                {
                    result.nodes = data.nodes;
                    result.tree = data.tree;
                    result.flag = true;
                }
            }
            else
            {
                result.flag = false;
            }
        }
    });
    return result;
};

function get_project_leaf(q) {
    var result = {"nodes": [], "tree": [], "flag": false};
    var ajax_url = "/project/leaf";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"query": JSON.stringify(q),
               "project_name": $('#project_select select').val()},
        success: function(data, textStatus){
            if(textStatus == "success"){
                if(typeof data.nodes == "undefined")
                    result.flag = null;
                else
                {
                    result.nodes = data.nodes;
                    result.tree = data.tree;
                    result.flag = true;
                }
            }
            else
            {
                result.flag = false;
            }
        }
    });
    return result;
};

function include(arr, obj) {
    return (arr.indexOf(obj) != -1);
}

var project_view_width = 255;
var project_view_hight_delta = 145;

window.onload = window.onresize = function(){
    $(document).ready(function(){
        var window_height = $(window).height();
        var window_width = $(window).width();
        $("#project_tree_view").height(window_height - project_view_hight_delta);
        $("#call_tree_view").height(window_height - project_view_hight_delta);
        $("#tree_view").width(window_width - project_view_width);
    });
}

$(document).ready(function(){
    var result = "{% module JsString(result) %}";
    var data = JSON.parse(result);

    if (data.query) {
        $("#search_input").val(data.query);
    }

    if (data.called) {
        $("input[type=checkbox][name=called]").prop('checked', true);
    }

    if (data.filter) {
        $("#filter_input").val(data.filter);
    }

    if (data.projects) {
        data.projects.forEach(function (value, index, array_notes) {
            $('#project_select select').append(
                '<option value="' + value.project_name + '"">' + value.project_name + '</option>'
            );
        });
    }

    if (data.project) {
        $('#project_select select').val(data.project);
        current_project = data.project;
    }

    var r_datas = new Bloodhound({
        datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.string); },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,
        remote: {
            url: '/search',
            replace: function (url, query) {
                url += '?q=' + encodeURIComponent($('#search_input').val());
                url += '&size=10&p=' + encodeURIComponent($('#project_select select').val());
                return url;
            },
            filter: function(list) {
                return $.map(list, function(complete_string) { return { string: complete_string }; });
            }
        }
    });
 
    r_datas.initialize();
 
    $('.typeahead').typeahead({
        highlight: true,
        minLength: 2
    }, 
    {
        name: 'complete_string',
        displayKey: 'string',
        source: r_datas.ttAdapter()
    });

    $('#project_tree').jstree({ 
        'core' : {
            'data' : data.nodes,
            'check_callback': true
        },
        'plugins' : [ "state", "unique", "types", "contextmenu" ],
        'types' : {
            'directory' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/directory.png') }}"
            },
            'file' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/file.png') }}"
            }
        },
        'contextmenu': {
            "items": customMenu
        }
    });

    $('#project_tree').on('before_open.jstree', function(e, data) {
        r = get_project_leaf(data.node.children);
        if (r.flag) {
            r.nodes.forEach(function (value, index, array_notes) {
                createProjectNode(value.parent, value.id, value.text, "last", value.type);
            });
        }
    });

    $('#call_tree').jstree({ 
        'core' : {
            'data' : [],
            'check_callback': true
        },
        'plugins' : [ "types", "state", "unique", "contextmenu" ],
        'types' : {
            'tree' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/circle_green.png') }}"
            },
            'leaf' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/circle_blue.png') }}"
            },
            'loop' : {
                "icon": "{{ static_url('js/jstree/themes/custom/24/circle_red.png') }}"
            }
        },
        'contextmenu': {
            "items": function(node) {
                var tree = $('#call_tree').jstree(true);
                return {
                    "Go To Context": {
                        "separator_before": false,
                        "separator_after": false,
                        "label": "Go To Context",
                        "action": function (obj) {
                            window.open('/view?q=' + node.id + '&d=false&called=' + $("input[type=checkbox][name=called]").prop("checked") + '&p=' + $('#project_select select').val() , '_blank');
                        }
                    },
                    "Go To Definition": {
                        "separator_before": false,
                        "separator_after": false,
                        "label": "Go To Definition",
                        "action": function (obj) {
                            window.open('/view?q=' + node.id + '&d=true&called=' + $("input[type=checkbox][name=called]").prop("checked") + '&p=' + $('#project_select select').val(), '_blank');
                        }
                    }
                };
            }
        }
    });

    $('#call_tree').on('before_open.jstree', function(e, data) {
        r = get_leaf(data.node.children);
        if (r.flag) {
            r.tree.forEach(function (value, index, array_notes) {
                $('#call_tree').jstree(true).set_type(value.id, "tree");
            });
            r.nodes.forEach(function (value, index, array_notes) {
                var path = $('#call_tree').jstree(true).get_path($('#call_tree').jstree(true).get_node(value.parent));
                if (include(path, value.text)) {
                    $('#call_tree').jstree(true).set_type(value.parent, "loop");
                    $('#call_tree').jstree(true).set_type(value.id, "loop");
                } else {
                    createNode(value.parent, value.id, value.text, "last", value.type);
                }
            });
            // $('#call_tree').jstree(true).refresh_node(data.node);
        }
    });

    var window_height = $(window).height();
    var window_width = $(window).width();
    $("#project_tree_view").height(window_height - project_view_hight_delta);
    $("#call_tree_view").height(window_height - project_view_hight_delta);
    $("#tree_view").width(window_width - project_view_width);
});

function customMenu(node) {
    var items = {
        'view_the_file' : {
            "separator_before": false,
            "separator_after": false,
            "label" : "View The File",
            "action" : function (obj) {
                window.open('/project/view?q=' + node.id + '&p=' + $('#project_select select').val(), '_blank');
            }
        },
    }

    if (node.type === 'directory') {
        delete items.view_the_file;
    }

    return items;
}

// Helper method createNode(parent, id, text, position).
// Dynamically adds nodes to the jsTree. Position can be 'first' or 'last'.
function createNode(parent_node, new_node_id, new_node_text, position, type) {
    $('#call_tree').jstree(true).create_node(parent_node, { "text":new_node_text, "id":new_node_id, "type": type }, position, null, false);
}

function createProjectNode(parent_node, new_node_id, new_node_text, position, type) {
    $('#project_tree').jstree(true).create_node(parent_node, { "text":new_node_text, "id":new_node_id, "type": type }, position, null, false);
}

function changeProject() {
    var selected_project = $('#project_select select').val();
    if (current_project != selected_project) {
        var ajax_url = "/select/project";
        $.ajax({
            type: "post",
            async: false,
            url: ajax_url,
            data: {"project_name": selected_project},
            success: function(data, textStatus) {
                if(textStatus == "success") {
                    $('#project_tree').jstree().delete_node($('#project_tree').jstree().get_json());
                    if (data.nodes) {
                        data.nodes.forEach(function (value, index, array_notes) {
                            createProjectNode(value.parent, value.id, value.text, "last", value.type);
                        });
                    }

                    if (data.project) {
                        $('#project_select select').val(data.project);
                        current_project = data.project;
                    }
                }
            }
        });
    }
    $('#project_select select').blur();
}

function showAddProject() {
    $('#add_project_modal').modal('show');
}

function addProject() {
    $('#wait_add_project_modal').modal('show');
    var ajax_url = "/add/project";
    $.ajax({
        type: "post",
        async: true,
        url: ajax_url,
        data: {"project_name": $("input#project_name").val(), 
               "project_path": $("input#project_path").val(), 
               "go_path": $("input#go_path").val(),
               "main_path": $("input#main_path").val()},
        success: function(data, textStatus) {
            if(textStatus == "success") {
                $('#project_tree').jstree().delete_node($('#project_tree').jstree().get_json());
                if (data.nodes) {
                    data.nodes.forEach(function (value, index, array_notes) {
                        createProjectNode(value.parent, value.id, value.text, "last", value.type);
                    });
                }
                
                if (data.projects) {
                    $('#project_select select').empty();
                    data.projects.forEach(function (value, index, array_notes) {
                        $('#project_select select').append(
                            '<option value="' + value.project_name + '"">' + value.project_name + '</option>'
                        );
                    });
                }

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                }
            }
            $('#wait_add_project_modal').modal('hide');
        }
    });
}

function showDelProject() {
    $('#delete_project_modal').modal('show');
}

function delProject() {
    var selected_project = $('#project_select select').val();
    var ajax_url = "/delete/project";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"project_name": selected_project},
        success: function(data, textStatus) {
            if(textStatus == "success") {
                $('#project_tree').jstree().delete_node($('#project_tree').jstree().get_json());
                if (data.nodes) {
                    data.nodes.forEach(function (value, index, array_notes) {
                        createProjectNode(value.parent, value.id, value.text, "last", value.type);
                    });
                }

                if (data.projects) {
                    $('#project_select select').empty();
                    data.projects.forEach(function (value, index, array_notes) {
                        $('#project_select select').append(
                            '<option value="' + value.project_name + '"">' + value.project_name + '</option>'
                        );
                    });
                }

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                }
            }
        }
    });
}

function showReindexProject() {
    $('#reindex_project_modal').modal('show');
}

function reindexProject() {
    $('#wait_reindex_project_modal').modal('show');
    var ajax_url = "/reindex/project";
    $.ajax({
        type: "post",
        async: true,
        url: ajax_url,
        data: {"project_name": $('#project_select select').val()},
        success: function(data, textStatus) {
            if(textStatus == "success") {
                $('#call_tree').jstree().delete_node($('#call_tree').jstree().get_json());

                if (data.project) {
                    $('#project_select select').val(data.project);
                    current_project = data.project;
                }
            }
            $('#wait_reindex_project_modal').modal('hide');
        }
    });
}

function search() {
    var ajax_url = "/";
    $.ajax({
        type: "post",
        async: false,
        url: ajax_url,
        data: {"query": $("input#search_input").val(), 
               "called": $("input[type=checkbox][name=called]").prop("checked"), 
               "filter": $("input#filter_input").val(),
               "project_name": $('#project_select select').val()},
        success: function(data, textStatus) {
            if (textStatus == "success") {
                if (data.tree && data.query) {
                    $('#call_tree').jstree().delete_node($('#call_tree').jstree().get_json());
                    data.tree.forEach(function (value, index, array_notes) {
                        createNode(value.parent, value.id, value.text, "last", value.type);
                    });
                    if (data.query) {
                        $("#search_input").val(data.query);
                    }

                    if (data.called) {
                        $("input[type=checkbox][name=called]").prop('checked', true);
                    }

                    if (data.filter) {
                        $("#filter_input").val(data.filter);
                    }
                }
            }
        }
    });
}
</script>
{% end %}