{% extends "../base.html" %}
<!-- 2015-09-19 YangHaitao -->
{% block title %}
{{_("CV - ")}}{{file_name}}
{% end %}


{% block stylesheet %}
<link href="{{ static_url('js/codemirror/lib/codemirror.css') }}" rel="stylesheet" >
<link href="{{ static_url('js/codemirror/theme/monokai.css') }}" rel="stylesheet" >
<link href="{{ static_url('js/codemirror/addon/dialog/dialog.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/call.css') }}" rel="stylesheet" >
<style type="text/css">
div.cntnr {
    display: none;
    position: fixed;
    border: 1px solid #B2B2B2;
    width: 170px;
    background: #F9F9F9;
    box-shadow: 0px 0px 0px #E9E9E9;
    border-radius: 4px;
    z-index: 10;
}
ul.items {
    list-style: none;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #333333;
}
hr {
    width: 85%;
    background-color: #E4E4E4;
    border-color: #E4E4E4;
    color: #E4E4E4;
    margin-top: 0px;
    margin-bottom: 0px;
}
li.item {
    padding: 3px;
    padding-left: 10px;
}
ul.items :hover {
    color: white;
    background: #284570;
    border-radius: 2px;
}
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}
.cm-matchhighlight {
    background-color: #888
}
.CodeMirror-selection-highlight-scrollbar {
    background-color: green
}
</style>
{% end %}

{% block header %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header"> 
        <a id="navbar_header" class="navbar-brand" href="/">{{_("CallingViewer")}}</a>
    </div>
    <div id="file_path_div" class="collapse navbar-collapse">
    </div>
</div>
{% end %}

{% block body %}
<div class="col-lg-12" style="margin-top: 55px; padding: 0px;">
    <div id="code_div" class="col-lg-12" style="padding: 0px; overflow: auto; font-size: 13px;">
        <textarea id="code" rows="4" class="code"></textarea>
    </div>
</div>
{% end %}

{% block menu %}
<div id="referrers_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="referrersModalLabel" aria-hidden="true">
    <form id="form_referrers" class="form-horizontal" enctype="multipart/form-data">
        <div id="dialog_referrers" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel" class="modal-title">{{_("Referrers")}}</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <ol class="referrers_list">
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="info_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="infoModalLabel" aria-hidden="true">
    <form id="form_info" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_info" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="infoModalLabel" class="modal-title">{{_("Information")}}</h3>
                </div>
                <div class="modal-body">
                    <span class="col-xs-12"></span>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div id="wait_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="waitModalLabel" aria-hidden="true">
    <form id="form_wait" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <div id="dialog_wait" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="waitModalLabel" class="modal-title">{{_("Waiting")}}</h3>
                </div>
                <div class="modal-body">
                    <img id="wait_img" src="{{ static_url("img/Pulse.gif") }}">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="cntnr">
    <ul class="items">
        <li id="item_to_def" class="item">Go To Definition</li>
        <li id="item_find_ref" class="item">Find Referrers</li>
    </ul>
    <!-- <hr/>
    <ul class="items">
        <li id="item_copy" class="item">Copy</li>
        <li id="item_paste" class="item">Paste</li>
    </ul> -->
</div>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/codemirror/lib/codemirror.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/selection/active-line.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/edit/matchbrackets.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/hint/show-hint.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/scroll/annotatescrollbar.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/search/matchesonscrollbar.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/search/searchcursor.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/search/match-highlighter.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/dialog/dialog.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/search/search.js') }}"></script>
<script src="{{ static_url('js/codemirror/addon/search/jump-to-line.js') }}"></script>
{% module NeedJsLib(mode) %}
<script type="text/javascript">
var result = "{% module JsString(result) %}";
var scroll_line = -1;
var data = JSON.parse(result);
var file_path = "";
var project_name = "";

if (data.project) {
    project_name = data.project;
}

if (data.line) {
    scroll_line = data.line;
}

if (data.path) {
    file_path = data.path;
    $("#file_path_div").append(
        '<p class="navbar-text" style="text-align: center; padding-top: 0px; padding-bottom: 0px;">' + data.path + get_line_num(scroll_line) + '</p>'
    );
}

function get_line_num(n) {
    if (n == -1) {
        return "";
    } else {
        return ":" + n;
    }
}

$(document).ready(function() {
    var codeMirror = CodeMirror.fromTextArea(document.getElementById('code'), {
        styleActiveLine: true,
        lineNumbers: true,
        lineWrapping: false,
        matchBrackets: true,
        indentUnit: 4,
        indentWithTabs: true,
        tabSize: 4,
        gutters: ["note-gutter"],
        highlightSelectionMatches: {showToken: /\w/, annotateScrollbar: true},
    });
    codeMirror.getDoc().setValue(data.code);
    codeMirror.setOption("theme", "monokai");
    codeMirror.setOption("mode", "{{mode}}");
    if (scroll_line > -1) {
        codeMirror.setGutterMarker(scroll_line - 1, "note-gutter", makeMarker());
        jumpToLine(scroll_line);
    }

    var $def_btn = $('#item_to_def');
    var $ref_btn = $('#item_find_ref');
    var $copy_btn = $('#item_copy');
    var $paste_btn = $('#item_paste');
    var $referrers_list = $('ol.referrers_list');

    $def_btn.bind("click", goToDefinition);
    $ref_btn.bind("click", findReferrers);

    codeMirror.on("contextmenu", function(i, e) {
        // console.log("codeMirror: " + e.pageX + ", " + e.pageY);
        $(".cntnr").css("left", e.pageX);
        $(".cntnr").css("top", e.pageY);
        selected_flag = codeMirror.somethingSelected();
        selection = codeMirror.getSelection().trim();
        if (codeMirror.somethingSelected() == false || selection == "") {
            $(".item").css("pointer-events", "none");
            $(".item").css("opacity", 0.6);
        } else {
            $(".item").css("pointer-events", "auto");
            $(".item").css("opacity", 1);
        }
        $(".cntnr").fadeIn(200, startFocusOut());
    });

    $(document).bind("contextmenu", function(e) {
        e.preventDefault();
        e.stopPropagation();
    });

    function goToDefinition() {
        selection = codeMirror.getSelection().trim();
        cursor = codeMirror.getCursor("from");
        // console.log("selected: '" + selection + "', line: " + cursor.line + ", ch: " + cursor.ch);
        getDefinition(selection, cursor.line, cursor.ch);
    }

    function findReferrers() {
        selection = codeMirror.getSelection().trim();
        cursor = codeMirror.getCursor("from");
        // console.log("selected: '" + selection + "', line: " + cursor.line + ", ch: " + cursor.ch);
        getReferrers(selection, cursor.line, cursor.ch);
    }

    function startFocusOut() {
        codeMirror.on("mousedown", function(i, e) {
            $(".cntnr").hide();
            codeMirror.off("mousedown");
        });
        $(".cntnr").on("click", function() {
            $(".cntnr").hide();
            $(".cntnr").off("click");
        });
    }

    function makeMarker() {
        var marker = document.createElement("div");
        marker.style.color = "#F00";
        marker.style.width = "10px";
        marker.style.alignContent = "center";
        marker.innerHTML = "●";
        return marker;
    }

    function jumpToLine(i) {
        // editor.getLineHandle does not help as it does not return the reference of line.
        codeMirror.setCursor(i - 1);
        window.setTimeout(function() {
           codeMirror.addLineClass(i - 1, null, "center-me");
           var line = $('.CodeMirror-lines .center-me');
           var h = line.parent();
           $('.CodeMirror-scroll').scrollTop(0).scrollTop(line.offset().top - $('.CodeMirror-scroll').offset().top - Math.round($('.CodeMirror-scroll').height()/2));
       }, 200);
    }

    function getDefinition(s, l, c) {
        $('#wait_modal').modal('show');
        var ajax_url = "/project/definition";
        $.ajax({
            type: "post",
            async: false,
            url: ajax_url,
            data: {"q": s, 
                   "file_path": file_path, 
                   "line": l,
                   "ch": c,
                   "project_name": project_name},
            success: function(data, textStatus) {
                if (textStatus == "success") {
                    if (data.file_path && data.file_path != "") {
                        // console.log("getDefinition: " + data.file_path + ", project: " + data.project + ", desc" + data.desc);
                        window.open('/code/view?q=' + data.file_path + '&p=' + data.project , '_blank');
                    } else {
                        $('#info_modal .modal-body span').text("No definition found!");
                        $('#info_modal').modal('show');
                    }
                }
                $('#wait_modal').modal('hide');
            }
        });
    }

    function getReferrers(s, l, c) {
        $('#wait_modal').modal('show');
        var ajax_url = "/project/referrers";
        $.ajax({
            type: "post",
            async: true,
            url: ajax_url,
            data: {"q": s, 
                   "file_path": file_path, 
                   "line": l,
                   "ch": c,
                   "project_name": project_name},
            success: function(data, textStatus) {
                if (textStatus == "success") {
                    $referrers_list.empty();
                    if (data.refs && data.refs.length > 0) {
                        // console.log("getReferrers: " + data.file_path + ", project: " + data.project + ", desc: " + data.desc + ", refs: " + data.refs);
                        data.refs.forEach(function (value, index, array_refs) {
                            $referrers_list.append(
                                '<li><a href="' + '/code/view?q=' + value + '&p=' + data.project + '" target="_blank">'+ value + '</a></li>'
                            );
                        });
                        $('#referrers_modal').modal('show');
                    } else {
                        $('#info_modal .modal-body span').text("No referrers found!");
                        $('#info_modal').modal('show');
                    }
                }
                $('#wait_modal').modal('hide');
            }
        });
    }

    var code_view_hight_delta = 65;
    var code_view_width_delta = 30;

    window.onload = window.onresize = function(){
        $(document).ready(function(){
            var window_height = $(window).height();
            var window_width = $(window).width();
            codeMirror.setSize(window_width - code_view_width_delta, window_height - code_view_hight_delta);
        });
    }
});
</script>
{% end %}