<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ static_url("favicon.ico") }}">
    <title>
      {% block title %}
        AISim
      {% end %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
      <meta name="keywords" content="html, search, note, rich note">
      <meta name="description" content="html rich note search">
    {% end %}
   <!--  <link href="{{ static_url("bootstrap/css/bootstrap.css") }}" rel="stylesheet" />
    <link href="{{ static_url("bootstrap/css/bootstrap-theme.css") }}" rel="stylesheet" /> -->
    <!-- <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet" > -->
    <!-- <link href="{{ static_url("css/template.css") }}" rel="stylesheet" /> -->
    <script src="{{ static_url("jquery/jquery-2.0.3.js") }}"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.js") }}"></script>
    
    {% block stylesheet %}
    {% end %}
    {% block headscript %}
    {% end %}
</head>
<body>
    {% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header"> 
            <a id="navbar_header" class="navbar-brand" href="/">{{_("CallingViewer")}}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- <li id="View" class>
                    <a id="View_a" href="/" >{{_("View")}}</a>
                </li> -->
            </ul>
        </div>
    </div>
    {% end %}

    <div id="body_container" class="container col-lg-12" >
        <div id="body_row" class="row">
            {% block body %}

            {% end %}
            
            {% block footer %}

            {% end %}
        </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block public_js %}
    <script type="text/javascript">
    $("li#" + "{{current_nav}}").attr("class", "active");
    </script>
    {% end %}

    {% block javascript %}
    
    {% end %}
</body>
</html>